%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 1;
  display: flex;
}

.content {
  flex: 1;
  margin-right: auto;
  margin-left: auto;
}
